{% extends "queue_management/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card-img-top">
    <img src="{% static 'whosnext/whosuplogo.png' %}" alt="Who's Up" style="width: 100px;margin-bottom:10px;">
</div>
<div class="card-header">
    <h2>{{queue.name}}</h2>
</div>
<ul class="list-group text-left">
{% for member in members %}
    <li class="list-group-item">
        {{ member.member.full_name }}
        <a href="">
            <i class="fal fa-trash float-right"></i>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}